<%= form_for [@listing] do |f| %>

<div class="listing-form">
  <% if @listing.errors.any? %>
    <div id="error-explanation-listings">
      <h2> <%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved: </h2>

      <ul>
        <% byebug %>
        <% @listing.errors.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>


    <div class="listing-form-body">

      <div class="listing-form">
        <div>
          <%= f.label :user_id %>
        </div>
        <div>
           <%= current_user.username %>
        </div>
      </div>

      <div class="listing-form job-title">
        <%= f.label :job_title, "Position Title" %>
        <div class="job-title-input">
          <%= f.text_field :job_title %>
        </div>
      </div>

      <div class="listing-form description">
        <%= f.label :description, "Job Description" %>
        <div class="job-description-input">
          <%= f.text_area(:description, size: "20x20") %>
        </div>
      </div>

      <div class="listing-form max-starting-salary">
        <%= f.label :max_starting_salary, "Maximum Starting Salary($)" %>
        <div class="max-starting-salary-input">
          <%= f.number_field :max_starting_salary %>
        </div>
      </div>

      <!-- Add Benefits -->
      <h4>Benefits</h4>
      <%= f.simple_fields_for :benefits do |benefit|%>
          <% render 'benefit_fields', :f => benefit%>
      <% end %>
      <div><%= link_to_add_association '+ Add More Benefits', f, :benefits %></div>

      <!-- Add Education -->
      <h4>Education</h4>
      <%= f.simple_fields_for :education_levels do |education|%>
          <% render 'education_level_fields', :f => education%>
      <% end %>
      <div><%= link_to_add_association '+ Add More Education Levels', f, :education_levels %></div>

      <!-- Add College Majors -->
      <h4>College Majors</h4>
      <%= f.simple_fields_for :college_majors do |college|%>
          <% render 'college_major_fields', :f => college%>
      <% end %>
      <div><%= link_to_add_association '+ Add More College Majors', f, :college_majors %></div>

      <!-- Add Type of Employments -->
      <h4>Type of Employment</h4>
      <%= f.simple_fields_for :type_of_employments do |empoyment|%>
          <% render 'type_of_employment_fields', :f => empoyment%>
      <% end %>
      <div><%= link_to_add_association '+ Add More Employment Types', f, :type_of_employments %></div>

      <!-- Add Matchitems -->
      <h4>Requirements</h4>
      <%= f.simple_fields_for :requirement do |requirement| %>
        <% render 'requirement_fields', :f => requirement %>
      <% end %>

      <div class="form-actions">
        <%= f.submit 'Publish', class: 'button' %>
      </div>
    </div>
    <% end %>
</div>
